[Unit]
Description=fmert.me panel yazısını yayınla
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=/opt/apps/fmert-blog/source/deploy/publish-posts.sh
Nice=5
